<div class="header w-full h-[50px] px-10 py-4 bg-white text-black flex justify-between items-center border-b border-gray-300">
    <div class="font-bold text-lg text-gray-800">Car Service Centre</div>
    
    <div class="user flex items-center gap-2 font-semibold">
      <div class="user-name text-sm text-gray-800">Thisaru</div>
      <div 
        class="user-image w-[35px] h-[35px] rounded-full border-2 border-white bg-teal-600 flex items-center justify-center text-[14px] md:text-[16px]"
      >
        T
      </div>
    </div>
</div>
  