<div class="pt-5 bg-white h-screen border-r border-gray-200">
  <div
    class="flex items-center px-12 py-4 cursor-pointer hover:bg-gray-100 md:px-10"
    routerLink="/dashboard"
    routerLinkActive="bg-gray-100 text-blue-600"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-600 mr-3"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d="M3 12l2-2m0 0l7-7 7 7m-9 0v12m4-12l2 2m0 0v6m-4-6v6" />
    </svg>
    <span class="inline text-gray-800 font-medium">Dashboard</span>
  </div>
  <div
    class="flex items-center px-12 py-4 cursor-pointer hover:bg-gray-100 md:px-10"
    routerLink="/cars"
    routerLinkActive="bg-gray-100 text-blue-600"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-600 mr-3"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d="M5 17l-2-2h18l-2 2M5 11l1.5 2h11l1.5-2M4 7h16l-2-4H6l-2 4z" />
    </svg>
    <span class="inline text-gray-800 font-medium">Cars</span>
  </div>
  <div
    class="flex items-center px-12 py-4 cursor-pointer hover:bg-gray-100 md:px-10"
    routerLink="/jobs"
    routerLinkActive="bg-gray-100 text-blue-600"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-600 mr-3"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d="M6 9v12M18 9v12M9 22h6M9 7v-3a3 3 0 013-3 3 3 0 013 3v3" />
    </svg>
    <span class="inline text-gray-800 font-medium">Jobs</span>
  </div>
</div>
